

body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

.header {
    background-color: #1F2937;
    padding-bottom: 16px;
    
}

.headerTop {
    display: flex;
    justify-content: space-around;

}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;

    display: flex;
    gap: 16px;
    padding: 16px;
}

.headerLinks {
    display: flex;
    gap: 16px;
    padding: 16px;
}

.headerLinks, .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.secondary {
    max-width: 300px;
    margin-bottom: 16px;
}

.headerBot {
    display: flex;
    justify-content: space-evenly;
}

.headerBotLeft {
    display: flex;
    flex-direction: column;
}

.headerMain {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 300px;
    margin-bottom: 16px;;

}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    max-width: 100px;
    padding: 15px;
    border-radius: 25px;
}

.placeholder {
    background-color: grey;
    padding: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.infoHeader {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

.object {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info {
    max-width: 140px;
    text-align: center;
}

.image {
    border: solid #3882F6;
    border-radius: 25px;
    padding: 50px;
}

.contentMid {
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    background-color: #E5E7EB;
    padding:100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;

}

.contentBot {
    display: flex;

    justify-content: space-around;
    background-color: #3882F6;
    padding: 50px;
    margin: 100px;
    border-radius: 25px;

}

.action {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 16px;
}


.footer {
    display:flex;
    flex:1;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}